header{
    text-align: center;
    background-color: bisque;
    color: darkblue;
}
header:hover{
         background-color: darkblue;
         color: darkgoldenrod;
}
li{
   background-color: rgba(43, 214, 226, 0.637);
   color: rgb(0, 0, 0);
   width: 150px;
}
LI:hover{
color: rgba(43, 214, 226, 0.637);
background-color: rgb(0, 0, 0);
}
img:hover{
    background-color: darkgoldenrod;
    


}




}
